<button (click)="gotoBlogsHome()">
  Blogs Home
</button>

<h3>
  {{ blog.name }}
</h3>

<div>
  {{ blog.desc }}
</div>

<h4 *ngIf="blog && category_list">
  Blog Categories
</h4>

<ul>
  <li *ngFor="let category of category_list">
    <a [routerLink]="['/blogs', blog.page, category.page]">  {{ category.name }} </a>
  </li>
</ul>

<h4>
  Most Recent Posts in {{ blog.name }}
</h4>
<p *ngFor="let post of blog_posts">
  <a [routerLink]="['/blogs', blog.page, post.page]">
    {{ post.title }}
  </a>
</p>

